# openai; python_version>"3.6"
# requests; python_version>"3.6"
# charset-normalizer; python_version>"3.6"
# idna; python_version>"3.6"
# certifi; python_version>"3.6"
# typing-extensions; python_version>"3.6"
boto3
# pymysql
mysql-connector-python